// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';


body {
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-size: 14px;

}

.bgimg{
  background-image: url('/images/school.jpeg');
  width: 1100px;
  height: 700px;
}

/* 头部 */

.navbar-static-top {
  border-color: #e7e7e7;
  background-color: #fff;
  box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
  border-top: 4px solid #00b5ad;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 40px;
  margin-top: 0px;
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1440px;
  }
}


/* 底部样式 */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #000;

  .container {
    padding-right: 15px;
    padding-left: 15px;

    p {
      margin: 19px 0;
      color: #c1c1c1;

      a {
        color: inherit;
      }
    }
  }
}


/* 注册框 */

#goods_list{
  margin-top: 10px;
  //width: 422px;
  transition-duration: 0.5s ;
  position:relative;
  border:1px solid #8dbd98;
  &:hover{
    margin-top: 5px;
    -webkit-box-shadow: #ccc 0px 10px 10px;
    -moz-box-shadow: #ccc 0px 10px 10px;
    box-shadow: #ccc 0px 10px 10px;
    transition-duration: 0.5s ;
    border:none;

  }
}

#r_input{
  width: 223px;
}
#captcha{
  width: 223px;
}
.comfirm_pwd{
  margin-left: 20px;
}
.verify{
  margin-left: 10px;
}
/* 验证码 */
.signup-page {
  img.captcha {
    cursor: pointer;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 3px;

  }
}

/* 个人中心 */

// 选中.list-group-item.active {}

/* 最新发布 */
.new_hot{
  .active{
    color: #fff;
    background-color: #3490dc;
  }
}

// 编辑个人资料按钮
.edit_info{
  &:hover{
  color: whitesmoke;
  background-color: #3490dc;
  }
}

// swal-text(编辑个人信息-确认修改邮箱弹框样式)
.email_text {
  background-color: #fff3cd;
  padding: 17px;
  border: 1px solid #ffeeba;
  display: block;
  margin: 22px;
  text-align: center;
  color: #856404;
}


